/* Search Results */
.search_wrapper
{
  width: inherit;
}

.search_input
{
  border: 0.2em solid #4d4b4a;
}

.search_input::placeholder{color: #4d4b4a;}

.search_input:focus, .search_input:focus::placeholder
{
  color: white;
  background-color: #383736;
}

#input-helper
{
  transition: opacity 0.8s ease-out;
  opacity: 0;
  overflow: hidden;
  height: 0;
}

#left_content > img {display: inline;}

#searchHeader
{
  background-color: #f9c132;
  padding: 1em;
  margin-bottom: 0.7em;
  margin-left: 0.1em;
  font-size: 1.3em;
  border-radius: 0.7em;
  max-width: 16em;
}

.searchHeader_short{padding-bottom: 0.3em}

.header_subtitle
{
  margin-top: 0.5em;
  font-size: 0.5em;
  font-style: italic;
}

/* CARD  */

.missing_text {color: red;}
.header-img{filter: invert(100%);}
.value
{
  color: #383736;
  font-weight: bold;
}

#card-header-icons > div.col
{
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.card
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
  background-color: #4d4b4a;
  border: 0.15em solid #4d4b4a;
}

.card-header
{
  font-size: 1em;
  height: 2.6em;
  color: white;
  background-color: #383736;
}

.card-expand
{
  width: 24px !important;
  height: 24px !important;
}

.cancelled-card
{
  border: 0.15em solid #d82d4e;
  background-color: #d82d4e;
}

.cancelled-card-header
{
  background-color: #d82d4e;
}

.completed-card
{
  border: 0.15em solid #24cf4a;
  background-color: #24cf4a;
}

.completed-card-header
{
  background-color: #24cf4a;
}

.card-body
{
  font-size: 0.8em;
  background-color: white;
}
.card-footer
{
  font-size: 0.8em;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

/* Buttons */

.shipping_standard-btn
{
  background-color: #4d4b4a;
  color: white;
  width: 100%;
}

.shipping_standard-btn-danger
{
  background-color: #dc4245;
  color: white;
  width: 100%;
}


.shipping_standard-btn:hover{background-color: #383736; color: white;}
.shipping_standard-btn-danger:hover{ background-color: #bb373b; color: white;}

.shipping_secondary-btn
{
  background-color: #d82d4e;
  color: white;
}

.shipping_secondary-btn:hover
{
  background-color: #b8233f;
  color: white;
}

.shipping_content-btn
{
  width: 100%;
}

/* Modal */

.modal-header
{
  background-color: #383736;
  color: white;
}

.modal-close-btn, .btn-close
{
  filter: invert(100%);
}

#modal-input-project_detail, #modal-input-order_date
{
  height: 3.625em ;
}

#modal-input-order_date::placeholder
{
  color: black;
}

.form-floating
{
  margin-bottom: 1em;
}

.error-text
{
  color: red;
}

.edit-validation-update-text
{
  /* margin-bottom: 1.5em; */
}

.input-error-highlight
{
  border: 0.1em solid #d82d4e;
}