/* AUX Styles */

.btn-pair
{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.clear-3
{
  opacity: 0.75;
}

.flipped{ transform: rotate(180deg); }

.text-info {
  color: #1e72a2 !important;
}

/* Standard Buttons */

.std-btn
{
  background-color: #4d4b4a;
  color: white;
  width: 100%;
}

.std-btn:hover
{
  background-color: #383736;
  color:white;
}

.std-btn-blue
{
  color: white;
  background-color: #047afb;
  border: 0.1em solid white;
}

.std-btn-blue:hover {
  color: white;
  background-color: #0773e6;
}

.std-btn-red
{
  background-color: #dc4245;
  color: white;
  width: 100%;
}

.std-btn-red:hover{ background-color: #bb373b; color: white; }


.std-btn-large
{
  width: 100%;
}

/* Search Results */

.search_wrapper
{
  width: 100%;
}

.search_input
{
  border: 0.2em solid #4d4b4a;
}

.search_input::placeholder{color: #4d4b4a;}

.search_input:focus, .search_input:focus::placeholder
{
  color: white;
  background-color: #383736;
}

#input-helper
{
  transition: opacity 0.8s ease-out;
  opacity: 0;
  overflow: hidden;
  height: 0;
}

#left_content > img {display: inline;}

#searchHeader
{
  background-color: #f9c132;
  padding: 1em;
  margin-bottom: 0.7em;
  margin-left: 0.1em;
  font-size: 1.3em;
  border-radius: 0.7em;
  max-width: 16em;
}

.searchHeader_short{padding-bottom: 0.3em}

.header_subtitle
{
  margin-top: 0.5em;
  font-size: 0.5em;
  font-style: italic;
}

/* CARD  */

.missing_text { color: red !important;}
.link_text {
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}
.header-img{filter: invert(100%);}
.value
{
  color: #383736;
  font-weight: bold;
}

#card-header-icons > div.col
{
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.card
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
  background-color: #4d4b4a;
  border: 0.15em solid #4d4b4a;
}

.card-header
{
  font-size: 1em;
  height: 2.6em;
  color: white;
  background-color: #383736;
}

.card-expand
{
  width: 24px !important;
  height: 24px !important;
}

.cancelled-card
{
  border: 0.15em solid #d82d4e;
  background-color: #d82d4e;
}

.cancelled-card-header
{
  background-color: #d82d4e;
}

.completed-card
{
  border: 0.15em solid #24cf4a;
  background-color: #24cf4a;
}

.completed-card-header
{
  background-color: #24cf4a;
}

.card-body
{
  font-size: 0.8em;
  background-color: white;
}
.card-footer
{
  font-size: 0.8em;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

/* Buttons */

.btn-dark { background-color: #383736; }

.btn-clear { background-color: transparent; }
.btn-clear:hover { background-color: inherit; }

/* Modal */

.modal-header
{
  background-color: #383736;
  color: white;
}

.modal-close-btn, .btn-close
{
  filter: invert(100%);
}

.form-floating
{
  margin-bottom: 1.5em;
}

.error-text
{
  color: red;
}

.input-error-highlight
{
  border: 0.1em solid #d82d4e;
}

.tall-input
{
  height: 9em !important;
}


/* EDITING  */

.edit-label
{
  color: #426285;
  font-size: 1.25em;
}


.edit-label-checkbox{
  margin-top: 0.75rem;
  padding-left: 1rem;
}

.edit-check-input
{
  height: 1.5em !important;
  width: 1.5em !important;
}

.edit-button{
  color: white;
  border: 0.1em solid #4d4b4a;
  background-color: #383736;
}

.edit-button:hover{color: white}

.edit-save
{
  color: white;
  background-color: #047afb;
  border: 0.1em solid white;
}

.edit-save:hover{ color: white; background-color: #0d78ee; }

/* Accounts Table */

.table-hover>tbody>tr:hover>* {
  --bs-table-hover-color: inherit;
}

.cancelled-payment
{
  background-color: #d82d4e;
  color: white;
}

.completed-payment { background-color: #24cf4a; }

.cancelled-payment > *, completed-payment > * {
  color: white !important;
}
