@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, html, * 
{
  font-family: 'Poppins', sans-serif;
}

ul,li {list-style-type: none;}

.hoverable:hover{cursor: pointer;}

.img-thumbnail{border: none;}

#navbar_container > * 
{
  color: black;
}

#navbar_container
{
  /* border-bottom: 0.5em solid #383736; */
  padding-top: 1em;
  padding-bottom: 2em;
}

.nav-link:focus {color: inherit;}

.navbar-brand
{
  text-align: center;
  height: 3em;
  width: 8.5em;
  font-size: 1.7em;
  margin-left: 0.5em;
  /* background-color: maroon; */
}

#navbar_nav
{
  margin-left: 2.5em;
}

.dropdown-item:active
{
  background-color: #d82d4e;
}

.standard-btn
{
  background-color: #d82d4e;
  color: white;
}

.standard-btn:hover
{
  background-color: #b8233f;
  color:white;
}

.secondary-btn
{
  background-color: #4d4b4a;
  color: white;
}

.secondary-btn:hover
{
  background-color: #383736;
  color: white;
}

.active
{
  color: #d82d4e;
  /* border-bottom: 0.2em solid #dd3455; */
  /* border-bottom: 0.2em solid #333; */
}

.nav-item > a
{
  font-size: 1.4em;
  text-decoration: none;
  color: inherit;
}

.nav-item > a:hover{color:inherit}

.nav-item
{
  align-self: center !important;
  text-align: center;
  padding: 1em;
  /* background-color: grey; */
}

#accounts_tab
{
  height: 4.0625em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

#accounts_tab_text{padding:0em;}
