{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Overview CSS-->
  <link href="{% static '/overview_app/styles/overview.css' %}" rel="stylesheet">

  <!-- Root CSS  LAST LINE = HIGHER PRIORITY-->
  <link href="{% static '/overview_app/styles/root.css' %}" rel="stylesheet">
  
  <!-- Bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Jquery JS-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  {% block app_stylesheet %}
  {% endblock app_stylesheet %}

  {% comment %}
  <link rel="icon" href="{% static '/main/images/icons/website_icon_1.png'%}">
  {% endcomment %}

  <!-- Title -->
  <title>DLK MS</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg d-flex justify-content-between" id="navbar_container"> 
    
    <a class="navbar-brand" href="{% url 'home'%}">DLK Master </br>Schedule</a>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbar_nav" class="navbar-toggler">Nav</button>
    
    <div class="collapse navbar-collapse" id="navbar_nav">
      <ul class="navbar-nav">
        <li class="nav-item {% if request.path == '/' %}active{% endif %}"><a class="" href="{% url 'home' %}">Overview</a></li>
        <li class="nav-item {% if request.path == '/sales/' %}active{% endif %}"><a class="" href="{% url 'sales' %}">Sales</li>
        <li class="nav-item {% if request.path == '/purchases/' %}active{% endif %}"><a class="" href="{% url 'purchases' %}"></a><a class="" href="{% url 'purchases' %}">Purchases</li>
        <li class="nav-item {% if request.path == '/shipping/' %}active{% endif %}"><a class="" href="{% url 'shipping' %}">Shipping</li>
        <li class="nav-item {% if request.path == '/operations/' %}active{% endif %}"><a class="" href="{% url 'operations'%}">Operations</li>
        <li class="nav-item dropdown" id="accounts_tab">
          <a class="nav-link dropdown-toggle" id="accounts_tab_text" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accounts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Receivables</a></li>
            <li><a class="dropdown-item" href="#">Payables</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav_footer" style="max-width: 25vw;">
        <div class="d-flex flex-row" style="align-items:center;">
          <div class="col p-3">
            <li id="profile_button"><a href="#"><img src="{% static '/overview_app/icons/profile_icon.png' %}" id="profile_icon" alt="Profile"></a></li>
          </div>
          <div class="col p-3">
            <button type="button" class="btn btn-outline-danger" id="logout_button">logout</button>
          </div>
          <div class="col p-3">
            <button type="button" class="btn btn-outline-warning"  data-bs-toggle="modal" data-bs-target="#reportModal" id="bug">report</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- REPORT MODAL -->
  
  <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="reportModalLabel"><span class="text-warning">Report:</span> Bug/Feature</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" id="report-modal-body">

          <div class="row p-3">
            <p class="small">If you encounter abnormal/unexpected behavior in this application: please report your findings in this form.</p>
            <br>
            <p class="small">If you instead would like to suggest a feature/wish for this application that would improve your use please submit your idea and select 'feature'.</p>
          </div>

          <form class="gx-3" id="modal-form-report" name="report_form">
            
            <div class="row-lg mb-3">
              <div class="form-floating">
                <input type="text" class="form-control modal-input" name="title" id="modal-input-title" placeholder="Edit Feature Not Working" required> 
                <label for="modal-input-title">Title</label>
              </div>
            </div>
            
            <div class="row-lg mb-3">
              <select class="form-select modal-input" id="modal-input-type" name="type" required>
                <option selected value="BUG">Bug</option>
                <option value="FT">Feature</option>
              </select>
            </div>
            
            <div class="row-lg">
              <div class="form-floating">
                <textarea class="form-control modal-input tall-input" placeholder="Tell us what happened" id="modal-input-body" name="body"></textarea>
                <label for="modal-input-body">Describe Your Findings</label>
              </div>
            </div>

          </form>
        </div>
        <div class="d-flex flex-column p-3" id="report-output">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="reportModal-close">Close</button>
            <button type="button" class="btn btn-primary" id="reportModal-save">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- COMBAT INFORMATION CENTER -->
  <div class="container-fluid mt-3" id="root_container">
    <div class="row d-flex justify-content-center ">
      <!-- LEFT_CONTENT -->
      <div class="col-xl-2" id="left_content">
        {% block left_content%}  
        {% endblock left_content%}  
      </div>

      <!-- MAIN CONTENT -->
      <div class="col-xl-8" id="main_content">
        {% block main_content %}
        {% endblock main_content %}
      </div>

      <!-- RIGHT CONTENT -->
      <div class="col-xl-2 ">
        {% block right_content%}
        {% endblock right_content%}
      </div>
    </div>
  </div>
  
  <script src="{% static 'overview_app/scripts/overview_ajax.js'%}"></script>
  <script src="{% static 'overview_app/scripts/overview_handlers.js'%}"></script>
  <script>


    $("#logout_button").click(function() {
      window.location.replace("{% url 'user_logout' %}"); 
    })

    const postReport_url = "{% url 'postNewReport_API' %}"
    let report_token = "{{csrf_token}} "
  </script>
  {% block scripts %}
  {% endblock scripts %}

</body>

</html>