{% extends "overview_app/root.html" %}
{% load static %}

<!-- APP_STYLESHEET IMPORTS -->
{% block app_stylesheet %}
  <link href="{% static '/purchases_app/styles/purchases.css' %}" rel="stylesheet">
{% endblock app_stylesheet %}

<!-- LEFT CONTENT -->
{% block left_content %}

<div class="d-flex flex-row">
  <form class="search_wrapper mb-3" id="left_content_form">

    <div class="col mb-3">
      <input type="text" class="search_input form-control" value="" placeholder="Search..." id="input-search">
      <p class="mt-1" style="font-size: 75%;margin-left: 0.25em" id="input-helper">press enter to start search</p>
    </div>

    <div>
      <button type="button" class="btn purchases_standard-btn col mb-3" id="input-search-clear">
        Clear Search Results
      </button>
    </div>

  </form>
</div>
{% endblock left_content %}

<!-- PURCHASES CARD DISPLAY + MODAL  -->
{% block main_content%}

<div class="" id="purchases_display"></div>

<!-- MODAL  -->
<div class="modal" tabindex="-1" id="modal_addPurchases">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Purchases Entry</h5>
        <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gx-3 px-3 mt-3" id="modal-form-addPurchases" name="addPurchases_form">
          
          <div class="col-lg-3">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="purchase_order" id="modal-input-purchase_order" placeholder="Project Scorsese">
              <label for="modal-input-purchase_order">Purchase Order</label>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="project_code" id="modal-input-project_code" placeholder="DLK-21-0040">
              <label for="modal-input-project_code">Project Code</label>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="purchased_items" id="modal-input-purchased_items" placeholder="Leonardo DiCaprio">
              <label for="modal-input-purchased_items">Purchased Items</label>
            </div>
          </div>
          
          <div class="col-lg-3 align-items-center">
            <select class="form-select modal-input" style="height: 3.5em;" id="modal-input-currency" name="currency" required>
              <option selected value="MYR">RM</option>
              <option value="EUR">€</option>
              <option value="USD">$</option>
            </select>
          </div>
          
          <div class="col-lg-3">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" id="modal-input-value" name="value" placeholder="20000">
              <label for="modal-input-value">Amount</label>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="form-floating">
              <input type="text" class="form-control modal-input modal-form-supplier_name" name="supplier_name" id="modal-input-supplier_name" placeholder="Project Detail">
              <label for="modal-input-supplier_name">Supplier Name</label>
            </div>
          </div>
          
          <div class="col-lg-4 date_wrapper">
            <div class="form-floating date">
              <input type="text" class="form-control modal-input" id="modal-input-po_date" name="po_date" placeholder="Order Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              <label for="modal-input-po_date">Order Date</label>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="form-floating">
              <input type="text" class="form-control modal-input modal-form-supplier_date" name="supplier_date" id="modal-input-supplier_date" placeholder="Project Detail">
              <label for="modal-input-supplier_date">Supplier Date</label>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-floating">
              <input type="text" class="form-control modal-input modal-form-expected_date" name="expected_date" id="modal-input-expected_date" placeholder="Project Detail">
              <label for="modal-input-expected_date">Expected Date</label>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer p-3" style="border: none">
        <div class="col px-3">
          <div id="modal-errors">
          </div>
          <div class="d-flex flex-row justify-content-end mt-3">
            <button type="button" class="btn standard-btn" style="width:auto;" id="modal-btn-close" data-bs-dismiss="modal">Close</button>
            <button  class="btn secondary-btn" style="margin-left: 0.5em;width:auto;" id="modal-btn-save">Add Purchases</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content%}

<!-- ADD + REVERSE1 LIST SIDE BUTTONS -->
{% block right_content %}

<div class="d-flex flex-row mb-3">
{% if perms.purchases_app %}
  <button type="button" class="btn purchases_standard-btn p-3 purchases_content-btn" data-bs-toggle="modal" data-bs-target="#modal_addPurchases">
    <img src="{% static 'sales_app/icons/plus_HD.png'%}" height="24" width="24" class="header-img" style="position: relative; right: 1em;">
    Add Purchases
  </button>
{% endif %}
</div>
<div class="d-flex flex-row">
  <button type="button" class="btn purchases_standard-btn p-3 purchases_content-btn" id="reverse-list">
    <img src="{% static 'sales_app/icons/reverse_HD.png'%}" height="24" width="24" class="header-img" style="position: relative; right: 1em;">
    Reverse List
  </button>
</div>

{% endblock right_content %}


{% block scripts %}
<!-- Dependency Imports for Datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Purchases Scripts -->
<script src="{% static 'purchases_app/scripts/purchases_library.js'%}"></script>
<script src="{% static 'purchases_app/scripts/purchases_ajax.js'%}"></script>
<script src="{% static 'purchases_app/scripts/purchases_handlers.js'%}"></script>

<script>
  const getSearch_url = "{% url 'searchPurchases_API' %}" + "?search=0"
  const getAllPurchases_url = "{% url 'getAllPurchases_API' %}"
  const postNewPurchases_url = "{% url 'postNewPurchases_API' %}"
  const postEditPurchases_url = "{% url 'postEditPurchases_API' %}"
  const alertedHD_src = "{% static 'sales_app/icons/alert_HD.png'%}"
  const edit_src = "{% static 'sales_app/icons/edit.png'%}"
  const droparrow_src = "{% static '/sales_app/icons/arrow.png' %}"
  const token = "{{csrf_token}}"

  //Environment Variables 
  let cache = new Library()
  let search_mode = false

</script>

<!-- Startup Scripts -->
<script>
  start()
  // Datepicker Utility for modal order date
  $('.date').datepicker({
    todayBtn: "linked",
    clearBtn: true,
    orientation: "top auto"
  })
</script>

{% endblock scripts %}