/* Purhcases-Specific Buttons */
.purchases_standard-btn
{
  background-color: #4d4b4a;
  color: white;
  width: 100%;
}

.purchases_standard-btn-danger
{
  background-color: #dc4245;
  color: white;
  width: 100%;
}

.purchases_standard-btn:hover
{
  background-color: #383736;
  color:white;
}

.purchases_standard-btn-danger:hover{ background-color: #bb373b; color: white;}

.purchases_secondary-btn
{
  background-color: #d82d4e;
  color: white;
}

.purchases_secondary-btn:hover
{
  background-color: #b8233f;
  color: white;
}

.purchases_content-btn { width: 100%; }