{% extends "overview_app/root.html" %}
{% load static %}

{% block app_stylesheet %}
  <link href="{% static '/operations_app/styles/operations.css' %}" rel="stylesheet">
  <link href="{% static '/overview_app/styles/overview.css' %}" rel="stylesheet">
{% endblock app_stylesheet %}

{% block left_content %}

<!-- Search & Filtering -->
<div class="d-flex flex-row ">
  <form class="search_wrapper mb-3" id="left_content_form">

    <div class="col mb-3">
      <input type="text" class="search_input form-control" value="" placeholder="Search..." id="input-search">
      <p class="mt-1" style="font-size: 75%;margin-left: 0.25em" id="input-helper">press enter to start search</p>
    </div>

    <div>
      <button type="button" class="btn operations_standard-btn col mb-3" id="input-search-clear">
        Clear Search Results
      </button>
    </div>

    <div class="col mb-3">
      <input class="form-check-input" type="checkbox" value="" id="input-cancelled" checked>
      <label class="form-check-label" for="input-cancelled">
        Show Cancelled Orders
      </label>
    </div>

    <div class="col">
      <input class="form-check-input" type="checkbox" value="" id="input-completed" checked>
      <label class="form-check-label" for="input-completed">
        Show Completed Orders
      </label>
    </div>

  </form>
  
</div>

<!-- Page Down Button -->
<div class="row mb-3">
  <div class="col-3">
    <button type="button" class="btn operations_standard-btn btn-clear clear-3" id="page_down">
      <img src="{% static 'overview_app/icons/up_page.png' %} " class="hoverable " width="32"
      height="32">
    </button>
  </div>
</div>

{% endblock left_content%}

{% block main_content %}
<div class="" id="operations_display"></div>

<!-- MODAL  -->
<div class="modal" tabindex="-1" id="modal_addOperations">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Operation Entry</h5>
        <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gx-3 px-3 mt-3" id="modal-form-addOperations" name="addOperation_form">
          
          <div class="col-lg-3">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="project_code" id="modal-input-project_code" placeholder="DLK-21-0040">
              <label for="modal-input-project_code">Project Code</label>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="project_name" id="modal-input-project_name" placeholder="Project Scorsese">
              <label for="modal-input-project_name">Project Name</label>
            </div>
          </div>
          
          <div class="col-lg-5">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="client_name" id="modal-input-client_name" placeholder="Leonardo DiCaprio">
              <label for="modal-input-client_name">Client Name</label>
            </div>
          </div>
          
          <div class="col-lg-12">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="status" id="modal-input-status" placeholder="Leonardo DiCaprio">
              <label for="modal-input-status">Status</label>
            </div>
          </div>
                    
          <div class="col-lg-12">
            <div class="form-floating">
              <input type="text" class="form-control modal-input" name="finish_detail" id="modal-input-finish_detail" placeholder="Leonardo DiCaprio">
              <label for="modal-input-finish_detail">Finish Detail</label>
            </div>
          </div>
          
          <div class="col-lg">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="cancelled" id="modal-input-cancelled">
              <label class="form-check-label" for="modal-input-cancelled">
                Cancelled Order?
              </label>
            </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer p-3" style="border: none">
        <div class="col px-3">
          <div id="modal-errors">
          </div>
          <div class="d-flex flex-row justify-content-end mt-3">
            <button type="button" class="btn standard-btn" style="width:auto;" id="modal-btn-close" data-bs-dismiss="modal">Close</button>
            <button  class="btn secondary-btn" style="margin-left: 0.5em;width:auto;" id="modal-btn-save">Add Operation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content%}

{% block right_content %}

<!-- Right Content -->
<div class="d-flex flex-column justify-content-between" style="height:100%" >

  <!-- Add & Reverse  -->
  <div class="row">
    <div class="mb-3">
      {% if perms.operations_app %}
      <button type="button" class="btn operations_standard-btn p-3 operations_content-btn" data-bs-toggle="modal" data-bs-target="#modal_addOperations">
        <img src="{% static 'sales_app/icons/plus_HD.png'%}" height="24" width="24" class="header-img" style="position: relative; right: 1em;">
        Add Operations
      </button>
      {% endif %}
    </div>
    <div>
      <button type="button" class="btn operations_standard-btn p-3 operations_content-btn" id="reverse-list">
        <img src="{% static 'sales_app/icons/reverse_HD.png'%}" height="24" width="24" class="header-img" style="position: relative; right: 1em;">
        Reverse List
      </button>
    </div>
  </div>
  
  <!-- Page Up Button -->
  <div class="row justify-content-end mt-3">
    <div class="col-4">
      <button type="button" class="btn operations_standard-btn btn-clear clear-3 flipped" id="page_up">
        <img src="{% static 'overview_app/icons/up_page.png' %} " class="hoverable " width="32"
        height="32">
      </button>
    </div>
  </div>
  
</div>

{% endblock right_content %}

{% block scripts %}
<!-- Operations Scripts -->
<script src="{% static 'operations_app/scripts/operations_library.js'%}"></script>
<script src="{% static 'operations_app/scripts/operations_ajax.js'%}"></script>
<script src="{% static 'operations_app/scripts/operations_handler.js'%}"></script>

<!-- Static Imports -->
<script>
  const getSearch_url = "{% url 'searchOperations_API' %}"
  const postEditOperations_url = "{% url 'postEditOperations_API' %}"
  const postNewOperations_url = "{% url 'postNewOperations_API' %}"
  const getAllOperations_url = "{% url 'getAllOperations_API' %}"
  const alertedHD_src = "{% static 'sales_app/icons/alert_HD.png'%}"
  const edit_src = "{% static 'sales_app/icons/edit.png'%}"
  const token = "{{csrf_token}}"

  //Environment Variables 
  let cache = new Library()
  let search_mode = false

</script>


<!-- Startup Scripts -->
<script>
  start(cache)
</script>

{% endblock scripts %}