/* LEGACY COLOR: #d82d4e; */

.hidden{display: none !important;}


#left_content > img {display: inline;}

.edit-check-input
{
  height: 2em !important;
  width: 2em !important;
}

.value
{
  color: #383736;
  font-weight: bold;
}

.card
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
  background-color: #4d4b4a;
  border: 0.15em solid #4d4b4a;
}

.header-img
{
  filter: invert(100%);
}

.card-header
{
  font-size: 1em;
  height: 2.6em;
  color: white;
  background-color: #383736;
}

.card-expand
{
  width: 24px !important;
  height: 24px !important;
}

.cancelled-card
{
  border: 0.15em solid #d82d4e;
  background-color: #d82d4e;
}

.cancelled-card-header
{
  background-color: #d82d4e;
}

.card-body
{
  font-size: 0.8em;
  background-color: white;
}
.card-footer
{
  font-size: 0.8em;
  display: none;
  background-color: white;
}

#body_wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#body_wrapper > .card-text
{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}

.card_row
{
  flex-direction: column;
}

.modal-header
{
  /* background-color: #d82d4e; */
  background-color: #383736;
  color: white;
}

.modal-close-btn, .btn-close
{
  filter: invert(100%);
}

.search_wrapper
{
  /* height: 2.3em; */
  width: inherit;
}

#input-helper
{
  transition: opacity 0.8s ease-out;
  opacity: 0;
  overflow: hidden;
  height: 0;
}

div:hover > #input-helper
{
  opacity: 1;
  height: auto;
}

.search_input
{
  border: 0.2em solid #4d4b4a;
}

.search_input::placeholder{color: #4d4b4a;}

.search_input:focus, .search_input:focus::placeholder
{
  color: white;
  background-color: #383736;
}

.sales_standard-btn
{
  background-color: #4d4b4a;
  color: white;
  width: 100%;
}

.sales_standard-btn:hover
{
  background-color: #383736;
  color:white;
}

.sales_secondary-btn
{
  background-color: #d82d4e;
  color: white;
}

.sales_secondary-btn:hover
{
  background-color: #b8233f;
  color: white;
}

.sales_left_content-btn
{
  width: 9em;
}

.form-floating
{
  margin-bottom: 1em;
}

#modal-input-project_detail, #modal-input-order_date
{
  height: 3.625em ;
}

#modal-input-order_date::placeholder
{
  color: black;
}