/* Operations-Specific Buttons */

.operations_standard-btn
{
  background-color: #4d4b4a;
  color: white;
  width: 100%;
}

.operations_standard-btn-danger
{
  background-color: #dc4245;
  color: white;
  width: 100%;
}


.operations_standard-btn:hover
{
  background-color: #383736;
  color:white;
}

.operations_standard-btn-danger:hover{ background-color: #bb373b; color: white;}

.operations_secondary-btn
{
  background-color: #d82d4e;
  color: white;
}

.operations_secondary-btn:hover
{
  background-color: #b8233f;
  color: white;
}

.operations_content-btn{ width: 100%; }