{% extends "overview_app/root.html" %}
{% load static %}

{% block app_stylsheet %}
<link href="{% static '/sales_app/styles/sales_app.css' %}" rel="stylesheet">
{% endblock app_stylsheet %}

{% block left_content%}

  <div class="d-flex flex-column position-fixed">
    <form class="search_wrapper mb-3">
      <div class="">
        <input type="text" class="search_input form-control" placeholder="Search...">
      </div>
    </form>
    
    {% comment %}
    <!-- If User has sales Permissions -->
    {% if perms.sales %} 
    <div class="d-flex flex-row">
      <p class="hoverable" id="add_sale"><img src="{% static 'sales_app/icons/add.png' %}" class="mr-3" alt="Add Sale"> Add Sale</p>
    </div>
    {% endif %}
    {% endcomment %}

    <!-- If User has sales Permissions -->
    {% if perms.sales %} 
    <div class="d-flex flex-row">
      <button type="button" class="btn sales_standard-btn" data-bs-toggle="modal" data-bs-target="#modal_addSale">
        Add Sale
      </button>
  
    </div>
    {% endif %}


  </div>
  {% comment %} <p>Add Sale</p> {% endcomment %}
{% endblock left_content%}

{% block main_content %}
<div class="modal" tabindex="-1" id="modal_addSale">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Sale Entry</h5>
        <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gx-3 px-3 mt-3">

          <div class="col-lg-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="modal-input-project_code" placeholder="DLK-21-0040">
              <label for="modal-input-project_code"  >Project Code</label>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-floating">
              <input type="text" class="form-control" id="modal-input-project_name" placeholder="Project Scorsese">
              <label for="modal-input-project_name">Project Name</label>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="form-floating">
              <input type="text" class="form-control" id="modal-input-client_name" placeholder="Leonardo DiCaprio">
              <label for="modal-input-client_name">Client Name</label>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-floating">
              <textarea class="form-control modal-form-project_detail" placeholder="Project Detail" id="modal-input-project_detail"></textarea>
              <label for="modal-input-project_detail">Project Detail</label>
            </div>
          </div>

          <div class="col-lg-2 align-items-center">
            <select class="form-select" style="height: 3.5em;" id="modal-input-currency" required>
              <option selected value="MYR">RM</option>
              <option value="EUR">€</option>
              <option value="USD">$</option>
            </select>
          </div>

          <div class="col-lg-5">
            <div class="form-floating">
              <input type="text" class="form-control" id="modal-input-amount" placeholder="20000">
              <label for="modal-input-amount">Amount</label>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="form-floating">
              <input type="textarea" class="form-control modal-form-payment_term" id="modal-input-project_name" placeholder="Project Detail">
              <label for="modal-input-payment_term">Payment Term</label>
            </div>
          </div>

          <div class="col-lg-6 date_wrapper">
            <div class="input-group date">
              <input type="text" class="form-control" id="modal-input-order_date" placeholder="Order Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-floating">
              <input type="textarea" class="form-control modal-form-shipping_date" id="modal-input-shipping_date" placeholder="CWD">
              <label for="modal-input-shipping_date">Customer Wanted Date</label>
            </div>
          </div>

          <div class="col-lg">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="modal-input-cancelled">
              <label class="form-check-label" for="modal-input-cancelled">
                Cancelled Order?
              </label>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer" style="border: none">
        <button type="button" class="btn sales_standard-btn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn sales_secondary-btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block scripts %}
<script src="{% static 'sales_app/scripts/sales_handlers.js' %}"></script>
<script src="{% static 'sales_app/scripts/sales_ajax.js' %}"></script>
<script src="{% static 'sales_app/scripts/autoresize.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
  // Import Consts
  const getSales_url = "{% url 'getSales_api' %}"
  const postSales_url = "{% url 'postSales_api' %}"
  const edit_src = "{% static '/sales_app/icons/edit.png' %}"
  const droparrow_src = "{% static '/sales_app/icons/arrow.png' %}"

  // Startup Script
  $(document).ready(function(){getSales()})
  $('.modal-form-project_detail').autoResize()// Add Resize to Modal input fields
  $('.date').datepicker({
    todayBtn: "linked",
    clearBtn: true,
    orientation: "top auto"
});
</script>
{% endblock scripts %}